In [6]:
import pandas as pd
import numpy as np

In [2]:
a = [1,1,1,2,2,3,3,4,4,4,4]
b = [1,2,3,2,3,3,5,1,2,3,2]

In [7]:
df = pd.DataFrame(columns = ['a','b'])
df['a'] = np.array(a)
df['b'] = np.array(b)

In [8]:
df

    a  b
0   1  1
1   1  2
2   1  3
3   2  2
4   2  3
5   3  3
6   3  5
7   4  1
8   4  2
9   4  3
10  4  2

In [10]:
df.groupby('a').b.sum()

a
1    6
2    5
3    8
4    8
Name: b, dtype: int32

In [11]:
df.groupby('a').b.rank()

0     1.0
1     2.0
2     3.0
3     1.0
4     2.0
5     1.0
6     2.0
7     1.0
8     2.5
9     4.0
10    2.5
Name: b, dtype: float64

In [1]:
import tensorflow as tf

In [10]:

a=tf.Variable(tf.random_normal([1,3],stddev=1),name="a")
d=tf.Variable(tf.ones([1,3],name="d"))
p = a.assign(d)
init_op=tf.global_variables_initializer()
with tf.Session() as sess:
    sess.run(init_op)
    d1=sess.run(d)
    sess.run(p)

    c=sess.run(a)
   # sess.run(a.initializer)
print(d1)
print(c)

[[ 1.  1.  1.]]
[[ 1.  1.  1.]]